<a href="https://colab.research.google.com/github/samirlenka/pandas_exercises/blob/master/02_Filtering_%26_Sorting/Euro12/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [2]:
euro12 = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv', sep = ',')
euro12.head(10)

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19
5         Germany     10               32  ...       15       15           17
6          Greece      5                8  ...       12       12           20
7           Italy      6               34  ...       18       18           19
8     Netherlands      2               12  ...        7        7           15
9          Poland      2               15  ...        7        7           17

[10 rows x 35 columns]

### Step 4. Select only the Goal column.

In [3]:
euro12.Goals.head(10)

0     4
1     4
2     4
3     5
4     3
5    10
6     5
7     6
8     2
9     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [4]:
euro12.Team.nunique()
euro12.info
# OR
euro12.shape[0]

16

### Step 6. What is the number of columns in the dataset?

In [5]:
euro12.info

<bound method DataFrame.info of                    Team  Goals  ...  Subs off  Players Used
0               Croatia      4  ...         9            16
1        Czech Republic      4  ...        11            19
2               Denmark      4  ...         7            15
3               England      5  ...        11            16
4                France      3  ...        11            19
5               Germany     10  ...        15            17
6                Greece      5  ...        12            20
7                 Italy      6  ...        18            19
8           Netherlands      2  ...         7            15
9                Poland      2  ...         7            17
10             Portugal      6  ...        14            16
11  Republic of Ireland      1  ...        10            17
12               Russia      5  ...         7            16
13                Spain     12  ...        17            18
14               Sweden      5  ...         9            18
15              Ukraine      2  ...         9            18

[16 rows x 35 columns]>

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [6]:
discipline = euro12[['Team','Yellow Cards','Red Cards']]
discipline.head(5)

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [7]:
discipline.sort_values(['Red Cards','Yellow Cards'], ascending = False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [8]:
round(discipline[['Yellow Cards']].mean())

Yellow Cards    7.0
dtype: float64

### Step 10. Filter teams that scored more than 6 goals

In [9]:
goal = euro12[['Team','Goals']]
goal[goal.Goals>6]

       Team  Goals
5   Germany     10
13    Spain     12

### Step 11. Select the teams that start with G

In [10]:
team = euro12[['Team']]
team[team.Team.str.startswith('G')]

      Team
5  Germany
6   Greece

### Step 12. Select the first 7 columns

In [11]:
euro12.iloc[:, 0:7]

                   Team  Goals  ...  % Goals-to-shots  Total shots (inc. Blocked)
0               Croatia      4  ...             16.0%                          32
1        Czech Republic      4  ...             12.9%                          39
2               Denmark      4  ...             20.0%                          27
3               England      5  ...             17.2%                          40
4                France      3  ...              6.5%                          65
5               Germany     10  ...             15.6%                          80
6                Greece      5  ...             19.2%                          32
7                 Italy      6  ...              7.5%                         110
8           Netherlands      2  ...              4.1%                          60
9                Poland      2  ...              5.2%                          48
10             Portugal      6  ...              9.3%                          82
11  Republic of Ireland      1  ...              5.2%                          28
12               Russia      5  ...             12.5%                          59
13                Spain     12  ...             16.0%                         100
14               Sweden      5  ...             13.8%                          39
15              Ukraine      2  ...              6.0%                          38

[16 rows x 7 columns]

### Step 13. Select all columns except the last 3.

In [12]:
euro12.iloc[:, :-3]

                   Team  Goals  ...  Yellow Cards  Red Cards
0               Croatia      4  ...             9          0
1        Czech Republic      4  ...             7          0
2               Denmark      4  ...             4          0
3               England      5  ...             5          0
4                France      3  ...             6          0
5               Germany     10  ...             4          0
6                Greece      5  ...             9          1
7                 Italy      6  ...            16          0
8           Netherlands      2  ...             5          0
9                Poland      2  ...             7          1
10             Portugal      6  ...            12          0
11  Republic of Ireland      1  ...             6          1
12               Russia      5  ...             6          0
13                Spain     12  ...            11          0
14               Sweden      5  ...             7          0
15              Ukraine      2  ...             5          0

[16 rows x 32 columns]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [21]:
euro12.loc[euro12.Team.isin(['England','Italy','Russia']), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%